name: lede

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v1
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib g++-multilib p7zip p7zip-full msmtp libssl-dev texinfo libreadline-dev libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint ccache curl wget vim nano python python3 python-pip python3-pip python-ply python3-ply haveged lrzsz device-tree-compiler
    - name: Clone source
      run: |
        cd /home/runner
        git clone https://github.com/RealKiro/lede.git
        sudo chmod -R 777 lede
        sudo chown -R runner:runner lede
        cd /home/runner/lede
        ./scripts/feeds update -a 
        ./scripts/feeds install -a
    - name: Clone config
      run: |
        cd /home/runner/lede/
        wget https://raw.githubusercontent.com/RealKiro/build-lede/master/.config
    - name: Build
      run: | 
        cd /home/runner/lede 
        make -j2
    - uses: actions/upload-artifact@master
      with:
        name: result
        path: /home/runner/lede/bin
